<nav class="navbar navbar-default navbar-fixed-top" >
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span> <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a
        class="navbar-brand page-scroll"
        routerLink=""
        style="color: white; margin-top: 13px"
        >SELF-DEFENCE</a
      >
    </div>
    <!-- Collect the nav links, forms, and other content for toggling <img src="assets/images/logo.png" width="80" height="30" alt="iLand"
      />-->
    <div
      class="collapse navbar-collapse navbar-right"
      id="bs-example-navbar-collapse-1"
    >
      <ul class="nav navbar-nav">
        <li><a class="page-scroll" href="/">Accueil</a></li>
        <li><a class="page-scroll" href="#classes">Technique de défence</a></li>
        <li>
          <a class="page-scroll" href="#features">Technique d’enseignement</a>
        </li>
        <li><a class="page-scroll" href="#review">Commentaires</a></li>
        <li><a class="page-scroll" href="#contact">Contactez Nous</a></li>
        <li><a  routerLink="/en">EN</a></li>
        <li><a  routerLink="/">FR</a></li>
      </ul>
    </div>
  </div>
</nav>
<div >
  <div class="main app form" id="main">
    <!-- Main Section-->
    <div class="hero-section">
      <div class="container nopadding">
        <div class="col-md-12">
          <div class="hero-content text-center">
            <h1 class="wow fadeInUp" data-wow-delay="0.1s">
              SELF DEFENCE & STREET DEFENCE
            </h1>
            <p class="wow fadeInUp" data-wow-delay="0.2s">
              Cours individuels ou de groupe Individual
            </p>
            <a
              class="page-scroll" href="#contact"
              class="btn btn-action wow fadeInUp"
              style="visibility: visible; animation-name: fadeInUp"
              >CONTACTEZ NOUS</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Classes Section -->
    <div class="pitch text-center" id="classes">
      <div class="container">
        <div class="pitch-intro">
          <h1 class="wow fadeInDown" data-wow-delay="0.2s">
            TECHNIQUE DE DÉFENCE
          </h1>
        </div>
        <div class="col-md-12">
          <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
            <div class="pitch-icon">
              <i class="ion-ios-checkmark-outline"></i>
            </div>
            <div class="pitch-content">
              <h1>Pistolet, couteau, bâton</h1>
            </div>
          </div>
          <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
            <div class="pitch-icon">
              <i class="ion-ios-checkmark-outline"></i>
            </div>
            <div class="pitch-content">
              <h1>Guide de survie</h1>
            </div>
          </div>
          <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
            <div class="pitch-icon">
              <i class="ion-ios-checkmark-outline"></i>
            </div>
            <div class="pitch-content">
              <h1>Fuir plusieurs agresseurs</h1>
            </div>
          </div>
          <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
            <div class="pitch-icon">
              <i class="ion-ios-checkmark-outline"></i>
            </div>
            <div class="pitch-content">
              <h1>Mise au Sol et combat au sol</h1>
            </div>
          </div>
          <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
            <div class="pitch-icon">
              <i class="ion-ios-checkmark-outline"></i>
            </div>
            <div class="pitch-content">
              <h1>Désarmer son agresseur</h1>
            </div>
          </div>
          <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
            <div class="pitch-icon">
              <i class="ion-ios-checkmark-outline"></i>
            </div>
            <div class="pitch-content">
              <h1>Évaluer ses environs</h1>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
  <br><br><br>
  <h2 style="text-align: center; color: #333; font-size: 30px;">Notre videos d'entrainements</h2>
  <br><br><br>
  <div uk-slideshow="animation: push">

    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

        <ul class="uk-slideshow-items">
            <li>
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/VMUO4JoS1N4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </li>
            <li>
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/wMaxZkKrOUI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </li>
            <li>
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/RAOrc8hzA8g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </li>
            <li>
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/oDMvNJGBZe0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </li>
            <li>
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/OxE38Z2LF30" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </li>
            <li>
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/dN2Ihpvb-4w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </li>
            <li>
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/H4tE2tf8VHc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </li>
            <li>
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/zVH3lHAcMnU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

    </div>

    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>

</div>

  <div class="app-features text-center" id="features">
    <div class="container">
      <h2 class="wow fadeInDown" data-wow-delay="0.1s" style="    font-size: 30px;
      font-family: system-ui;">Connus depuis longtemps pour la qualité de l'entraînement d'autodéfense en personne, nous sommes fiers d'offrir des cours individuels ou en petits groupes pour vous aider à atteindre vos objectifs d'entraînement dans le confort de votre foyer ou de notre centre de remise en forme.


      </h2>
      <p class="wow fadeInDown" data-wow-delay="0.2s" style="    font-size: 30px;">Technique d’enseignement</p>
      <div class="col-md-4 features-left text-right">
        <div class="col-md-12 wow fadeInDown" data-wow-delay="0.2s">
          <div class="icon"><i class="ion-ios-list-outline"></i></div>
          <div class="feature-single">
            <p>
              Cours axé uniquement sur la pratique afin d’être prêt à n’importe
              quelles éventualités
            </p>
          </div>
        </div>
        <div class="col-md-12 wow fadeInDown" data-wow-delay="0.3s">
          <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
          <div class="feature-single">
            <p>Deux heures de pratique par session</p>
          </div>
        </div>
        <div class="col-md-12 wow fadeInDown" data-wow-delay="0.4s">
          <div class="icon"><i class="ion-ios-pulse"></i></div>
          <div class="feature-single">
            <p>Pratiquer les yeux bouchés afin de développer ses sens</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 wow fadeInDown" data-wow-delay="0.5s">
        <img
          class="img-responsive"
          src="assets/images/image.png"
          style="width: 385px; height: 659px"
          alt="App"
        />
      </div>
      <div class="col-md-4 features-left text-left">
        <div class="col-md-12 wow fadeInDown" data-wow-delay="0.6s">
          <div class="icon"><i class="ion-ios-americanfootball-outline"></i></div>
          <div class="feature-single">
            <p>La fluidité des mouvements afin de déjouer les attaques</p>
          </div>
        </div>
        <div class="col-md-12 wow fadeInDown" data-wow-delay="0.7s">
          <div class="icon"><i class="ion-ios-heart-outline"></i></div>
          <div class="feature-single">
            <p>Cours individuels ou de maximum 4 personnes</p>
          </div>
        </div>
        <div class="col-md-12 wow fadeInDown" data-wow-delay="0.8s">
          <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
          <div class="feature-single">
            <p>
              Créera un plan adapté à votre situation et créera votre
               stratégies nutritionnelles quotidiennes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="split-features">
    <div class="col-md-6 nopadding">
      <div class="split-image">
        <img
          class="img-responsive wow fadeIn"
          src="assets/images/unnamed.jpg"
          alt="Image"
          style="width: 550px; height: 449px"
        />
      </div>
    </div>
    <div class="col-md-6 nopadding">
      <div class="split-content">
        <h1 class="wow fadeInUp">
          Les cours d'autodéfense sont un excellent moyen <br>
           de se mettre en forme et de rester en forme
        </h1>
      </div>
    </div>
  </div>
  <!-- Split Feature2 Section -->
  <div class="split-features2">
    <div class="col-md-6 nopadding">
      <div class="split-content second">
        <h1 class="wow fadeInUp">Apprenez à réagir avec confiance dans une situation hostile
        </h1>
      </div>
    </div>
    <div class="col-md-6 nopadding">
      <div class="split-image">
        <img
          class="img-responsive wow fadeIn"
          src="assets/images/KRAV1.jpg"
          alt="Image"
        />
      </div>
    </div>
  </div>
  <!-- Split Feature3 Section -->
  <div class="split-features">
    <div class="col-md-6 nopadding">
      <div class="split-image">
        <img
          class="img-responsive wow fadeIn"
          src="assets/images/miki.jpg"
          alt="Image"
        />
      </div>
    </div>
    <div class="col-md-6 nopadding">
      <div class="split-content">
        <h1 class="wow fadeInUp">
          Sentez vous en sécurité, ayez confiance en vous <br> et soyez prêt à toutes eventualités

        </h1>
      </div>
    </div>
  </div>
  
  <!-- Client Section -->
  
 
 
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2790.6261561010742!2d-73.61588588447432!3d45.61815617910307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91febeef2aad3%3A0xaee7f6bcf5e6495f!2sKarat%C3%A9%20Plus!5e0!3m2!1sfr!2stn!4v1606504001440!5m2!1sfr!2stn" width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  <div class="footer" id="contact">
    <div class="container">
      <div class="col-md-6 contact">
        <h1>Instructeur</h1>
        <p>Giovanni Plus de 15 ans d’expériences</p>
      </div>
  
      <div class="col-md-3 contact">
       
        <a href="mailto:info@selfdefensestreetdefense.ca"
          >Email : info@selfdefensestreetdefense.ca</a
        >
        <a href="tel:+15149679182">Phone : 514 967 9182</a>
      </div>
    </div>
  </div>
  
</div>
